<article class="post">
  <a href="/blog/{{id}}">
    <div class="title">
      {{title}}
    </div>
    <div class="city-create-info">
      <div id="city_location">{{city_location}}</div>
      <div class="meta">
        By
        {{user.username}}
        on
        {{format_date created_at}}
        <div class="meta">
          {{#each pictures as |picture|}}
          <img src="data:{{picture.mime}};base64,{{picture.picture}}" class="w-100" />
          {{/each}}
          {{trip_budget}}
          {{ratings}}
          {{comments.length}}
          {{format_plural "comment" comments.length}}
        </div>
      </div>
    </div>
  </a>
</article>
